ul.slide-root {
    height: auto;
    overflow: hidden;
}

li.sider-group > div > div > span {
    vertical-align: middle;
}

li.sider-group > div > div > span.sider-group-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

li.sider-group > div > div > span.sider-group-title {
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

li.sider-group > div > div > span.sider-group-users {
    display: inline-block;
    position: absolute;
    right: 0;
}

li.sider-group > div > div > span.sider-group-users > div {
    height: 100%;
}

li.sider-group > div > div > span.sider-group-users > div > div {
    width: 20px;
    height: 20px;
    font-size: 12px;
}

li.sider-group > div > div > span.sider-group-users > div > div > img {
    width: 100%;
    height: 100%;
}

li.sider-item {
    width: 100%;
}

li.sider-item > div {
    width: 100%;
    height: 50px;
}

li.sider-item > div > div > span {
    vertical-align: middle;
}

li.sider-item > div > div > span.sider-group-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

li.sider-item > div > div > span.sider-group-icon svg {
    width: 100%;
    height: 100%;
}
